@import 'bootstrap';
@import '../../custom-variables';

.add-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: lightslategray;

    & .card-body {
        @include media-breakpoint-down('sm') {
            padding: 0px;
        }
    }
}

.list-utang {
    font-size: 24px !important;

    @include media-breakpoint-down('sm') {
        font-size: 16px !important;
    }
}

.text-item-detail {
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: 1px solid black;
    width: 60%;
}

.table-list-ecalcu {
    height: 40vh;
    border-bottom: 1px solid black;
    overflow: overlay !important;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    table th {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-right: 1px solid;
    }

    table td {
        border-bottom: 1px solid;
        border-right: 1px solid;
    }

    table th:first-child,
    table td:first-child {
        border-left: 1px solid;
    }

    table thead th {
        position: sticky;
        top: 0;
    }
}
