.delete-modal {
  & .table-list-items {
    max-height: 40vh;
    border-top: 1px solid black;
    border-right: 1px solid black;

    overflow: overlay !important;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    & thead th {
      outline: 1px solid black;
      position: sticky;
      top: -5px;
      text-align: left;
      font-size: 20px;
    }

    & td {
      border: 1px solid black;
    }
  }
  > .del-modal-btn {
    display: flex;
    padding: 12px;
    justify-content: space-between;
  }
  & .del-btn {
    font-size: 24px;
    height: 42px;
    background: darkred;
    display: flex;
    align-items: center;
    color: white;
  }
  & .cancel-btn {
    font-size: 24px;
    height: 42px;
    background: lightgreen;
    display: flex;
    align-items: center;
    color: black;
  }
}
