@import "bootstrap";

* {
  font-size: 24px;
}

.btns {
  height: 45px;
  width: 70%;
  color: red;
  outline: none;
  border: none;

  @include media-breakpoint-down("sm") {
    width: 100%;
  }
}

span {
  font-size: 16px;
}

.div-center {
  display: flex;
  justify-content: center;
}

.modal-antd {
  > .ant-modal-content {
    width: fit-content;
  }
}

.ant-modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal {
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  transform: none !important;
}
