@import "bootstrap";
@import "./custom-variables";

* {
  font-size: 24px;
}

span {
  font-size: 16px;
}

.div-center {
  display: flex;
  justify-content: center;
}

.modal-antd {
  > .ant-modal-content {
    width: fit-content;
  }
}

.ant-modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal {
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  transform: none !important;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  height: 56px;
  border-radius: 0.375rem;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 56px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}

:where(
    .css-dev-only-do-not-override-w8mnev
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-w8mnev
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder
  .ant-select-show-search:where(
    .css-dev-only-do-not-override-w8mnev
  ).ant-select:not(.ant-select-customize-input)
  .ant-select-selector
  input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}
